@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Raleway:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
body p{
    font-size: 1.189rem;
}
 a{
    text-decoration: none;
}
h1{
    font-size: 42px;
}
ul li{
    list-style: none;
}
:root {
    --primary-color: rgb(234, 111, 102);
    --secondary-color: rgb(41, 47, 69);
  }
 .navbar{
    background-color: var(--secondary-color);
 }
 .navbar .navbar-brand{
    /* color: var(--primary-color) !important; */
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem !important;

 }
 .navbar .navbar-nav li a{
    color: #cbc0c0;
    margin-right: 23px;
    font-size: 1.2rem;
 }
 .navbar .navbar-brand .logo-red{
    color: var(--primary-color);
 }
 .navbar .navbar-nav li a:hover{
    color:var(--primary-color);
 }
 .bi-person-circle{
    font-size: 22px;
 }
 .nav-social a i{
    font-size: 18px;
 }
 .log-red{
    color: var(--primary-color) !important;
 }

 /* end navbar  */



 /* start hero  */


.hero{

    background-image: url(../image/hero.webp);
    height:87vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.hero .hero-content{
   position: absolute;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #fff;
}
.hero .hero-content h1{
    font-size: 4rem;
}
.hero .hero-content p{
    font-size: 1.4rem;
}
.main-btn{
    padding: 10px 25px;
    border: 1px solid transparent;
    color: #000;
    background-color: var(--primary-color);
    transition: .5  s ease;
}
.main-btn:hover{
    background-color: #fff;
}
.main-btn.ab{
    color: #000;
    background-color: var(--primary-color);
}
.j-profile{
    position: relative;
    top: -120px;
}
.my-skill .tagline h1{
    font-size: 42px;
    margin-top: -20px;
}
.my-skill .tagline p{
    font-size: 1.2rem;
    margin-top: 14px;
}
.bg_blue{
    background-color: var(--secondary-color);
    padding: 30px 0px;
}
.hire-me{
    background-color: rgb(234,239,249);
}
footer{
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 19px;
    padding: 20px 0;
}
footer a{
    /* text-decoration: none; */
    color: #fff;
}
@media only screen and (max-width: 600px) {
    body h1{
        font-size: 20px;
    }
    h2{
        font-size: 25px !important;
    }
    

  }














 /* end hero  */